<div class="container pt-4">
  <h1 class="text-center">Images GPT</h1>

  <div class="row pt-3">
    <div class="col-3">
      <div class="card">
        <img class="card-img-top img-card" alt="..."
          src="https://images.pexels.com/photos/13822368/pexels-photo-13822368.jpeg" />
        <div class="card-body">
          <h5 class="card-title">nombre-foto.jpg</h5>
          <p class="card-text mb-0 cursor-pointer" (click)="copyValue()">Foto de ballena con atardecer de fondo</p>
          <p class="card-text mt-2 cursor-pointer" (click)="copyValue()">50, palabras, claves, water, sunset, human, dog, cat, etc...
          </p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="card-img-top img-card" alt="..."
          src="https://images.pexels.com/photos/18162796/pexels-photo-18162796/free-photo-of-grupo-de-flamenco.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <div class="card-body">
          <h5 class="card-title cursor-pointer">nombre-foto.jpg</h5>
          <p class="card-text mb-0" (click)="copyValue()">Foto de ballena con atardecer de fondo</p>
          <p class="card-text mt-2" (click)="copyValue()">50, palabras, claves, water, sunset, human, dog, cat, etc...
          </p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="card-img-top img-card" alt="..."
          src="https://images.pexels.com/photos/1292470/pexels-photo-1292470.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <div class="card-body">
          <h5 class="card-title cursor-pointer">nombre-foto.jpg</h5>
          <p class="card-text mb-0" (click)="copyValue()">Foto de ballena con atardecer de fondo</p>
          <p class="card-text mt-2" (click)="copyValue()">50, palabras, claves, water, sunset, human, dog, cat, etc...
          </p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="card-img-top img-card" alt="..."
          src="https://images.pexels.com/photos/18183049/pexels-photo-18183049/free-photo-of-mono-titi.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <div class="card-body">
          <h5 class="card-title cursor-pointer">nombre-foto.jpg</h5>
          <p class="card-text mb-0" (click)="copyValue()">Foto de ballena con atardecer de fondo</p>
          <p class="card-text mt-2" (click)="copyValue()">50, palabras, claves, water, sunset, human, dog, cat, etc...
          </p>
        </div>
      </div>
    </div>
  </div>



</div>


<!--<router-outlet /> -->