<div class="container pt-4">
  <h1 class="text-center">Images Jham GPT</h1>
  <div class="row pt-3">
    @for (image of listImages; track $index) {
    <div class="col-3">
      <div class="card">
        <img class="card-img-top img-card" alt="..."
          [src]="'images/'+image.name" />
        <div class="card-body">
          <h5 class="card-title text-center">{{image.name}}</h5>
          <div class="item-text-copy cursor-pointer" (click)="copyValue(image.description)">
            <p class="card-text mb-0">{{image.description}}</p>
            <img class="icon-copy-paste" src="icons/copy-paste-icon.png" />
          </div>
          <div class="item-text-copy mt-3 cursor-pointer" (click)="copyValue(image.keywords)">
            <p class="card-text">{{image.keywords}}</p>
            <img class="icon-copy-paste" src="icons/copy-paste-icon.png" />
          </div>
          <button class="btn btn-danger" (click)="soldPhoto(image._id)">Foto vendida</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>


<!--<router-outlet /> -->