.img-card {
  height: 250px;
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.item-text-copy {
  display: flex;

  &:hover{
    font-weight: 500;
  }
}

.icon-copy-paste {
  width: 20px;
  height: max-content;
  margin-top: 10px;
  cursor: pointer;
}

.card-text{
    line-height: 18px;
}
